<h1>Film Directors</h1>

<!-- <pre>
  State: {{ state$ | async | json }}
  Selected: {{ selectedDirector$ | async | json }}
</pre> -->

<!-- <ul>
  <li *ngFor="let director of directors$" (click)="loadDirector(director)">
    {{ director }}
  </li>
</ul> -->

<app-multiselect
  [dataArray]="testData"
  [tableHeads]="tableHeadsCopy"
  [tableData]="tableData"
  [param]="'name'"
  (itemSelectedActionEmitter)="itemSelected($event)"
></app-multiselect>

<pre>
  tableData {{ tableData.length | json }}
  tableHeadsCopy {{ tableHeadsCopy.length | json }}
  testData {{ testData.length | json }}
</pre>

<!-- <app-director-detail [selectedDirector]="selectedDirector$ | async">
</app-director-detail> -->
