<h1>Film Directors</h1>

<!-- <pre>
  State: {{ state$ | async | json }}
  Selected: {{ selectedDirector$ | async | json }}
</pre> -->

<!-- <ul>
  <li *ngFor="let director of directors$" (click)="loadDirector(director)">
    {{ director }}
  </li>
</ul> -->

<app-multiselect
  [dataArray]="testData"
  [tableHeads]="tableHeadsCopy"
  [tableData]="tableData"
  [elementFormControl]="elementFormControl"
  [param]="'name'"
  (itemSelectedActionEmitter)="itemSelected($event)"
></app-multiselect>

<!-- <pre>
  {{ elementFormControl.value | json }}
  tableHeadsCopy {{ tableHeadsCopy | json }}
  testData {{ testData.length | json }}
</pre> -->

<!-- <app-director-detail [selectedDirector]="selectedDirector$ | async">
</app-director-detail> -->
<!-- TABLE -->
<div class="table">
  <table>
    <tr>
      <th *ngFor="let column of tableHeadsCopy">
        {{ column.name }}
      </th>
    </tr>
    <tr *ngFor="let row of tableData">
      <td *ngFor="let column of tableHeadsCopy">
        {{ row[column.name] }}
      </td>
    </tr>
  </table>
</div>
